.backlinks {
  flex: 1;
  font-size: var(--font-scale-neg1);
  
  .backlink-title {
    margin-block: var(--space-s);
    margin-inline: 0;
  }
}

// .backlink-list { }

.backlink-card {
  padding-block-end: var(--space-m);
  border-radius: var(--border-radius);
  width: 100%;
  
  .svg-icon {
    width: 0.75em;
    height: 0.75em;
    margin-inline-end: var(--space-s);
  }
  
  // .backlink {}
}

.no-backlinks-message {
  font-size: var(--font-scale-neg-1);
}