$max-line-length: 60ch;

:root {
  // base 16 format. gruvbox.
  --base00: #1d2021; 
  --base01: #3c3836; 
  --base02: #504945; 
  --base03: #665c54; 
  --base04: #bdae93; 
  --base05: #d5c4a1; 
  --base06: #ebdbb2; 
  --base07: #fbf1c7;
  --base08: #fb4934; 
  --base09: #fe8019; 
  --base0a: #fabd2f;
  --base0b: #b8bb26;
  --base0c: #8ec07c;
  --base0d: #83a598;
  --base0e: #d3869b;
  --base0f: #d65d0e;

  // colors
  --background-color-base: var(--base00);
  --background-color-accent: var(--base01);
  --text-color-body: var(--base07);
  --text-color-accent: var(--base0d);
  --link-text-color: var(--base0a);
  --h1-color: var(--base0a);
  --h2-color: var(--base0b);
  --h3-color: var(--base0c);
  --h4-color: var(--base0d);
  --h5-color: var(--base0e);
  --h6-color: var(--base0f);

  // type
  --font-family-primary: 'open sans', -apple-system, blinkmacsystemfont, avenir next, avenir, segoe ui, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif;
  --font-family-secondary: 'gentium book basic', iowan old style, apple garamond, baskerville, times new roman, droid serif, times, source serif pro, serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  --line-height-base: 1.5;
  --max-line-length: #{$max-line-length};
  --half-line-length: 30ch; // integer for grid math
  --font-weight-bold: 600;

  // type scale
  --font-scale-neg1: 0.889rem;
  --font-scale-0: 1rem;
  --font-scale-1: 1.125rem;
  --font-scale-2: 1.266rem;
  --font-scale-3: 1.424rem;
  --font-scale-4: 1.602rem;
  --font-scale-5: 1.802rem;
  --font-scale-6: 2.027rem;
  --font-scale-7: 2.281rem;
  --font-scale-8: 2.566rem;
  --font-scale-9: 2.887rem;
  --font-scale-10: 3.247rem;
  --font-size-body: var(--font-scale-0);
  --font-size-caption: var(--font-scale-neg1);

  // shape
  --border-width: 1px;
  --border-style: solid;
  --border-color: var(--base03);
  --border-radius: calc(var(--font-scale-0)/4);

  // spacing
  --space-m: calc(1rem * var(--line-height-base));
  --space-s: calc(0.5 * var(--space-m));
  --space-xs: calc(0.5 * var(--space-s));
  --space-xxs: calc(0.5 * var(--space-xs));
  --space-l: calc(2 * var(--space-m));

  // transition
  --transition-timing: ease-in-out;
  --transition-duration: 100ms;

  // conversion tokens

  //// digital garden

  --note-icon-1: url(/img/tree-1.svg);
  --note-icon-2: url(/img/tree-2.svg);
  --note-icon-3: url(/img/tree-3.svg);
  --note-icon-fallback: url(/img/default-note-icon.svg);
  --graph-main: var(--text-accent);
  --graph-muted: var(--text-muted);
}

.tag-mosh {
  // base 16 format.
  --base00: #282936;
  --base01: #3a3c4e;
  --base02: #4d4f68;
  --base03: #626483;
  --base04: #62d6e8;
  --base05: #e9e9f4;
  --base06: #f1f2f8;
  --base07: #f7f7fb;
  --base08: #ea51b2;
  --base09: #b45bcf;
  --base0a: #00f769;
  --base0b: #ebff87;
  --base0c: #a1efe4;
  --base0d: #62d6e8;
  --base0e: #b45bcf;
  --base0f: #00f769;

  // colors
  --background-color-base: var(--base00);
  --background-color-accent: var(--base01);
  --text-color-body: var(--base07);
  --text-color-accent: var(--base0d);
  --link-text-color: var(--base0a);
  --h1-color: var(--base0a);
  --h2-color: var(--base0b);
  --h3-color: var(--base0c);
  --h4-color: var(--base0d);
  --h5-color: var(--base0e);
  --h6-color: var(--base0f);

  // type
  --font-family-primary: ui-monospace, menlo, monaco, "cascadia mono", "segoe ui mono", "roboto mono", "oxygen mono", "ubuntu monospace", "source code pro", "fira mono", "droid sans mono", "courier new", monospace;

  // shape
  --border-width: 1px;
  --border-style: solid;
  --border-color: var(--base03);
  --border-radius: calc(var(--font-scale-0)/4);

  // conversion tokens

  //// digital garden

  --note-icon-1: url(/img/tree-1.svg);
  --note-icon-2: url(/img/tree-2.svg);
  --note-icon-3: url(/img/tree-3.svg);
  --note-icon-fallback: url(/img/default-note-icon.svg);
  --graph-main: var(--text-accent);
  --graph-muted: var(--text-muted);
}

[class~="tag-moonrise"] {
 
  --base00: #1e1e1e;
  --base01: #323537;
  --base02: #464b50;
  --base03: #5f5a60;
  --base04: #838184;
  --base05: #a7a7a7;
  --base06: #c3c3c3;
  --base07: #ffffff;
  --base08: #cf6a4c;
  --base09: #cda869;
  --base0a: #f9ee98;
  --base0b: #8f9d6a;
  --base0c: #afc4db;
  --base0d: #7587a6;
  --base0e: #9b859d;
  --base0f: #9b703f;


  // colors
  --background-color-base: var(--base00);
  --background-color-accent: var(--base01);
  --text-color-body: var(--base07);
  --text-color-accent: var(--base0d);
  --link-text-color: var(--base0c);
  --h1-color: var(--base0a);
  --h2-color: var(--base0b);
  --h3-color: var(--base0c);
  --h4-color: var(--base0d);
  --h5-color: var(--base0e);
  --h6-color: var(--base0f);

  // type
  --font-family-primary: 'open sans', -apple-system, blinkmacsystemfont, avenir next, avenir, segoe ui, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif;

  // shape
  --border-width: 1px;
  --border-style: solid;
  --border-color: var(--base03);
  --border-radius: calc(var(--font-scale-0)/4);

  // conversion tokens

  //// digital garden

  --note-icon-1: url(/img/tree-1.svg);
  --note-icon-2: url(/img/tree-2.svg);
  --note-icon-3: url(/img/tree-3.svg);
  --note-icon-fallback: url(/img/default-note-icon.svg);
  --graph-main: var(--text-accent);
  --graph-muted: var(--text-muted);
}