<div class="search-button align-icon" onclick="toggleSearch()">
    <span class="search-icon">
        <i icon-name="search" ></i>
    </span>
    <span class="search-text">
        <span>Search</span>
        <span class="search-keys">
            <kbd>CTRL + K</kbd>
        </span>
    </span>
</div>